<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task list</title>

    <!--<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">-->

    

    <!-- Bootstrap core CSS -->
<!--    <link href="css/bootstrap.css" rel="stylesheet">-->
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
<!--    <link href="form-validation.css" rel="stylesheet">-->
    <link href="{{ url_for('static', path='/form-validation.css') }}" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/tasks/">Task Manager</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Управление задачей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/task_create">Создать задачу</a>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
  <main>
<div class="container">
    <div class="text-center">
      
      <h2>Task manager</h2>
      <p class="lead">Список задач</p>
    </div>

    <div class="table-responsive">
      <table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">План: начало</th>
      <th scope="col">План: конец</th>
      <th scope="col">Исполнители</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
  {% for _ in result %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td><a href="/tasks/{{ _.id }}" class="list-group-item list-group-item-action">{{ _.header }}</a></td>
      <td>{{ _.plan_start }}</td>
      <td>{{ _.plan_end }}</td>
      <td>{{ _.executors }}</td>
      <td>Выполняется</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    </div>
      </div>
  </main>



<!--    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="{{ url_for('static', path='/form-validation.js') }}"></script>
<!--      <script src="form-validation.js"></script>-->
  

</body>